PORT=5000
NODE_ENV=development

# MongoDB Atlas URI (Added in Stage 2)
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/placement_db?retryWrites=true&w=majority

# JWT Authentication Secret (Added in Stage 2)
# JWT_SECRET=your_jwt_secret_key_here

# Gemini API Key (Added in AI Stage)
# GEMINI_API_KEY=your_gemini_api_key_here
